body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1A55;
}

header {
    background-color: #070F2B;
    color: #4845ec;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #535C91;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #9290C3;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1F2544;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #535C91;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4845ec;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #535C91;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #535C91;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}